@{
    ViewData["Title"] = "Agendamento";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="container" style="text-align:center; margin-top:50px;">
        <h3>@ViewBag.Message</h3>
    </div>
</body>
</html>
