@model IEnumerable<SIPP.Models.Corretor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Criar novo corretor</a>
</p>

<div class="row justify-content-between  ">
    @foreach (var item in Model)
    {

        //string foto;
        //  @if (item.Imagem.Length > 0)
        // {
        //    foto = $"\\img\\{item.Imagem}";
        // }
        // else
        // {
        //   foto = $"\\img\\foto.png";
        // }

        //....

        <div class="card justify-content-between m-3" style="width: 18rem; ">


            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nome)</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"> @Html.DisplayFor(modelItem => item.TemDeTrabalho)</li>
                    <li class="list-group-item">@Html.DisplayFor(modelItem => item.CRECI)</li>
                    <li class="list-group-item"> @Html.DisplayFor(modelItem => item.Telefone)</li>
                 

                </ul>


            </div>
        </div>
    }
</div>


