@{
    ViewData["Title"] = "Corretores Page";
}
<div class="profile-container">
        <div class="profile-card">
            <img src="~/img/correto1.png" alt="Carlos Ricardo">
            <h3>Carlos Ricardo</h3>
            <ul>
                <li> • Trabalha na área há 7 anos</li>
                <li> • CRECI: 85479-J</li>
                <li> • Telefone para contato: (14) 99876-3247</li>
            </ul>
        </div>

        <div class="profile-card">
            <img src="~/img/corretor2.png" alt="Beatriz de Carça">
            <h3>Beatriz de Carça</h3>
            <ul>
                <li> • Trabalha na área há 12 anos</li>
                <li> • CRECI: 71243-J</li>
                <li> • Telefone para contato: (14) 99175-1870</li>
            </ul>
        </div>

        <div class="profile-card">
            <img src="~/img/corretor3.png" alt="Isabela de Lima">
            <h3>Isabela de Lima</h3>
            <ul>
            <li> • Trabalha na área há 4 anos</li>
            <li> • CRECI: 14789-J</li>
            <li> • Telefone para contato: (14) 99901-0124</li>
            </ul>
        </div>

        <div class="profile-card">
            <img src="~/img/corretor4.png" alt="Roberto Augusto">
            <h3>Roberto Augusto</h3>
            <ul>
            <li> • Trabalha na área há 18 anos</li>
            <li> • CRECI: 21845-J</li>
            <li> • Telefone para contato: (14) 99845-0133</li>
            </ul>
        </div>
    </div>